Cross_Pubs.bib.sav
.Rproj.user
.Rhistory
Literature.txt
Literature.txt.bak
Cross_Pubs.bib.bak
~$ulCrossCV.docx
tinytex_53c67b06879.pdf
PaulCrossCV.out
PaulCrossCV.aux
Cross_Pubs_old.bib
PaulCrossCV.docx
PaulCrossCV.html
Test.tex
